
<html>
    {% load staticfiles%}

    <head>
    	<title>bds</title>
    	<meta charset="utf-8" />
    	<link rel="stylesheet" href="{%static 'css/main.css'%}" />
    	<link rel="stylesheet" type="text/css" href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body class="is-preload">
    <section class="wrapper">
				
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>plot grap for >12</h3>
								</header>
								<p>pass/fail</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>list of failures</h3>
								</header>
								<p>particular student.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>range of marks</h3>
								</header>
								<p>some result.</p>
							</div>
						</section>
						
						
					</div>
				</div>
			</section>



	
			<script src="assets/js/jquery.min.js"></script>
					<script src="{% static 'js/browser.min.js'%}"></script>
					<script src="{%static 'js/breakpoints.min.js'%}"></script>
					<script src="{%static 'js/util.js'%}"></script>
					<script src="{%static 'js/main.js'%}"></script>
	</body>				
</html>



