.class9{

  margin-top: 25px !important;
}

.class0{
  margin-top: 60px !important;
}

.classs{

  margin-top: 35px !important;
}


.class10{
  margin-top: 50px !important;
}

.class1{
  margin-top: 15px !important;
}


.class4{
  margin-top: 8px !important;
}

footer{
  background: #212121 !important;
  color: #fafafa !important;
  height: 4em !important;
  text-align: center;
  vertical-align: baseline !important
  margin-top: 30px !important;
  padding-top: 1.4em !important;
}
