.classs{

  margin-top: 25px !important;
}

.class9{

  margin-top: 25px !important;
}

.class0{
  margin-top: 60px !important;
}

.menubar{
  height: 45px !important;
}

.class1{
  margin-top: 15px !important;
}

.class2{
  margin-top: 8px !important;
}

.class3{
  margin-top: 8px !important;
}

.class4{
  margin-top: 8px !important;
}

.class8{
  margin-top: 20px !important;
}



.class5{
  margin-top: 28px !important;
}


.class10{
  margin-top: 50px !important;
}

.class6{
  margin-top: -25px !important;
}

div.image{
  margin: 72px !important
}

footer{
  background: #212121 !important;
  color: #fafafa !important;
  height: 4em !important;
  text-align: center;
  margin-top: 30px !important;
  padding-top: 1.4em !important;
}

.jns1{
  margin-top: 35px !important;
}
